# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/

# Virtual environments
.venv/
env/
venv/

# OS / Editor junk
.DS_Store
.idea/
.vscode/
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Your data files
data/raw/
data/interim/
data/processed/

# Local environment & secrets
.env
gcp-creds/
*.json

# Cache
.cache/
